.d-dashboard {
    @apply col-span-12 h-1 items-center;

    &__navigation {
        @apply grid grid-cols-12 bg-mygray text-gray-200 text-sm h-16 w-full fixed z-10;
    }   

    &__hidden-menu {
        @apply flex justify-center items-center relative sm:hidden;
    }

    &__hidden-list {
        @apply block px-4 py-2;
    }

    &__logo-lg {
        @apply flex justify-end items-center col-span-3 pl-3 md:col-span-3 hidden sm:flex;
    }

    &__logo-sm {
        @apply flex justify-center items-center col-span-2 sm:hidden;
    }

    &__search {
        @apply flex justify-center items-center col-span-6;
    }

    &__search-bar {
        @apply block w-full p-2 text-mygray border border-gray-300 rounded-lg bg-gray-50 text-xs border-2 border-gray-900 focus:ring-gray-100 focus:border-gray-100 relative;
    }

    &__search-btn {
        @apply absolute right-4 text-gray-700 rounded-md;
    }

    &__username {
        @apply flex justify-center items-center col-span-2 sm:col-span-1 sm:justify-start;
    }

    &__main {
        @apply grid grid-cols-12 pt-20 bg-background;
    }

    &__sidebar {
        @apply flex flex-col col-span-3 h-20 md:col-span-2 hidden sm:flex bg-background;
    }

    &__side-nav {
        @apply flex flex-col items-start gap-2 bg-gray-50 m-1 p-4 border-2 bg-whisperwhite rounded-lg;
    }

    &__side-list {
        @apply transition-transform transform hover:scale-110;
    }

    &__aside-btns {
        @apply z-10 py-2 px-5 me-1 mb-1 text-sm font-medium text-gray-100 focus:outline-none bg-mygray rounded-lg border border-mygray focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    }

    &__aside-about {
        @apply flex flex-col items-start bg-background gap-2 bg-gray-50 mb-2 rounded-lg;
    }

    &__aside-aboutbtn {
        @apply flex justify-center items-center bg-mygray w-full h-full rounded-lg text-white mt-2;
    }

    &__aside-ul {
        @apply flex flex-col gap-2 border-2 p-2 rounded-lg w-full h-full py-3 bg-whisperwhite;
    }

    &__aside-container {
        @apply grid grid-flow-col col-span-2 gap-2;
    }

    &__aside-icons-center {
        @apply flex items-center gap-2;
    }

    &__aside-icons-top {
        @apply col-span-2;
    }

    &__aside {
        @apply flex flex-col justify-start gap-3 col-span-3 max-h-52 bg-background bg-gray-50 m-1 rounded-lg md:col-span-2 hidden sm:flex sticky top-negative;
    }

    &__user {
        @apply border-2 rounded-lg pt-1 pb-1 p-2 bg-whisperwhite py-3 h-64 overflow-auto;
    }

    &__user-hr {
        @apply border border-gray-600 shadow-md mt-1;
    }

    &__space {
        @apply hidden md:flex;
    }

    &__create-post {
        @apply p-3 border-2 bg-whisperwhite rounded-lg;
    }

    &__write-post {
        @apply block w-full max-h-48 p-4 text-gray-900 border-2 border-mygray rounded-lg bg-gray-50 text-base resize-none focus:ring-mygray focus:border-mygray;
    }

    &__post-btn {
        @apply py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-100 focus:outline-none bg-mygray rounded-lg border border-mygray active:bg-mygray active:text-white focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    }

    &__post-content {
        @apply flex flex-col col-span-12 bg-gray-50 m-1 min-h-[85vh] rounded-lg sm:col-span-6 bg-background;
    }

    &__post-container {
        @apply flex flex-col pt-3 pl-3 pr-3 border-2 bg-whisperwhite rounded-lg mt-2;
    }

    &__image {
        @apply mt-2 p-2 rounded-lg bg-whisperwhite pb-2;
    }

    &__attach-like-comm {
        @apply flex justify-center cursor-pointer w-full hover:font-bold;
    }

    &__post-user {
        @apply font-semibold shadow-md mb-1;
    }

    &__spinner {
        @apply animate-spin;
    }

    &__border-gray {
        @apply border-2 border-mygray rounded-lg;
    }

    &__imageicon {
        @apply flex justify-between items-center px-3;
    }

    &__bgcolor {
        @apply bg-background;
    }

    .animate-spin {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .top-negative {
        top: 5rem;
    }
}
